body {
  font-family: 'Bai Jamjuree', sans-serif;
  background-image: url(../images/bg-header-desktop.png);
  background-repeat: no-repeat;
  font-size: 18px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
}

* {
  box-sizing: inherit;
}

button {
  color: #fff;
  font-size: 1.5rem;
  border-radius: 25px;
  padding: 10px 20px;
  margin: 10px;
  border-color: inherit;
  width: 40%;
}

button:hover {
  transform: scale(1.2);
}
p {
  color: hsl(201, 11%, 66%);
  line-height: 1.5;
}

h1, h2, h3 {
  color: hsl(210, 10%, 33%);
}

ul {
  list-style-type: none;
}

.top-section {
  text-align: center;
  margin: 10% 25%;
}

.snippets {
  text-align: center;
  margin: 0 25% 10%;
}

.ios {
  background-color: hsl(171, 66%, 44%);
}

.mac {
  background-color: hsl(233, 100%, 69%);
}

/* middle section */
.middle-section {
  display: flex;
}

.computer {
  max-width: 90%
}

.features-list {
  margin: 1% 25% 1% 5%;
  list-style-type: none;
}

/* bottom section */

.bottom-section{
  text-align: center;
  margin: 15% 10% 10% 10%;
}

.devices {
  padding-top: 5%;
  width: 90%;
}

/* bottom-features */
.bottom-features {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  list-style-type: none;
  padding: 0% 3%;
  margin: 0 7% 7% 7%;
}

.bottom-features div {
  flex: 1 300px;
  padding: 1%;
  margin-bottom: 7%;
}


.logos {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  padding: 0% 7% 5% 7%;
}


/* cta */

.cta {
  text-align: center;
  margin: 5% 25%;
}
/* media queries */

/* ender */
.ender {
  display: flex;
  flex-direction: row;
  background-color: #f5f5f5;
  justify-content: space-around;
  align-items:center;
}

.ender-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;
  max-width: 600px;
  padding-left: 100px;
}

.media {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin-right: 5%;
}

/* .media img {
    transform: scale(4);
} */

.ender-image img {
  transform: scale(.5);
}

.ender-list li {
  margin: 10px 70px 10px 0;
  color: hsl(201, 11%, 66%);
}

.media li {
  margin: auto 20px;
}

@media (max-width: 800px) {
  .middle-section {
    flex-wrap: wrap;
    text-align: center;
  }
}

@media (max-width: 800px) {
  .features-list {
    margin: auto;
    padding: 5% 7%;
  }
}
  @media (max-width: 800px) {
    .bottom-features{
      flex-wrap: wrap;
    }
  }

  @media (max-width: 800px) {
    .top-section, .cta, .snippets {
    margin: 10%;
    }

  }

  @media (max-width: 800px) {
    button{
      display:block;
      width: 100%;
      margin: 5% auto;
      font-size: 1.5rem;

    }
}

@media (max-width:800px) {
  .logos {
    flex-wrap: wrap;
  }
}

@media (max-width:800px) {
.logos img {
    width: 65%;
    margin: 10%;
  }
}

@media (max-width:800px) {
.ender {
  flex-direction: column;
  align-items: center;
}
  }

  @media (max-width:800px) {
  .ender-list{
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
    }

    @media (max-width:800px) {
      .ender-list li{
        padding: 0;
        margin: 10px auto;
      }
    }

    @media (max-width:800px) {
    .media{
    margin: 10% auto;
    }
      }
